{
  "tabWidth": 2,
  "printWidth": 100,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^(?!@/)^(react|.*react)(.(?!.*css$|.*scss$))*$",
    "<THIRD_PARTY_MODULES>",
    "^(@/)(?!pages|@components|@assets|layouts|contexts|services|hooks|helpers|App|Router)(.(?!.*/use[\\w]*$))*$",
    "^(@/).*/use[\\w]*$",
    "^(@/services)(.*)$",
    "^(@/hooks)(.*)$",
    "^(@/helpers)(.*)$",
    "^(@/contexts)(.*)$",
    "^(@/layouts)(.*)$",
    "^(@components/|@/App|@/Router)(.*)$",
    "^(@/pages)(.*)$",
    "^(@assets)(.*)$",
    "(svg|jpg|jpeg|png)$",
    "^(?!@|\\./).*(scss|css)$",
    "(scss|css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}